CLUSTER_ID=5L6g3nShT-eMCtK--X86sw

# Máquina 1 (kafka1)
M1_ADVERTISED_IP=100.100.10.100
M1_HOST_PORT=9094
M1_NODE_ID=1

# Máquina 2 (kafka2)
M2_ADVERTISED_IP=100.100.10.101
M2_HOST_PORT=9096
M2_NODE_ID=2

# Máquina 3 (kafka3)
M3_ADVERTISED_IP=100.100.10.102
M3_HOST_PORT=9098
M3_NODE_ID=3

# Kafka tuning
KAFKA_AUTO_CREATE_TOPICS_ENABLE=false
KAFKA_NUM_PARTITIONS=3
KAFKA_DEFAULT_REPLICATION_FACTOR=3
KAFKA_MIN_INSYNC_REPLICAS=2

# Spark
SPARK_MASTER_HOST=100.100.10.100
SPARK_MASTER_PORT=7077